.projects-section {
  padding: 2rem;
  text-align: center;
  background-color: #f4f4f9;
<<<<<<< HEAD
  margin-top: 80px;
}

.projects-header {
  font-size: 40px;
  font-weight: bold;
  color: rgb(138, 15, 15);
  text-shadow: 1px 1px 1px green, 2px 2px 2px blue;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(15) 0s 1 normal both, blink 0.75s step-end infinite;
=======
  /* Light background for the entire section */
}

.projects-header {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
  /* Dark text for the header */
>>>>>>> 902393b0e34e50facf101c9989cb7f7e217e7f38
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
<<<<<<< HEAD
  opacity: 0;
  animation: fadeIn 1s ease-in 2s forwards;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.project-card:hover{
  transform: translateY(-5px);
=======
  /* White background for each project card */
>>>>>>> 902393b0e34e50facf101c9989cb7f7e217e7f38
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.project-image-container {
  position: relative;
}

.image-slider {
  display: block;
}

.project-image {
  width: 100%;
<<<<<<< HEAD
  height: 160px;
  padding: 0.5px;
  margin-top: 0.5px;
  cursor: pointer;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
=======
  height: auto;
  cursor: pointer;
>>>>>>> 902393b0e34e50facf101c9989cb7f7e217e7f38
}

.project-info {
  padding: 1rem;
  background-color: #fafafa;
  /* Light gray background for project info */
}

.project-title {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.project-description {
  font-size: 1rem;
  color: #555;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Dark background for modal overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  /* White background for modal content */
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  /* Rounded corners for the modal content */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for modal */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  height: auto;
  display: block;
<<<<<<< HEAD
}
=======
}
>>>>>>> 902393b0e34e50facf101c9989cb7f7e217e7f38
